<!DOCTYPE html> 
<html lang="en">  
    <head> 
        <meta charset="UTF-8"> 
        <title>redme</title> 
        <style> 
        div{ 
            border: 1px solid black;
            border-radius: 10px; 
            width:fit-content;
        } 
        </style>
    </head> 
    <body>  
        <h1>This is a page for redme mobiles</h1>  
        <div>
        <img src="https://imgs.search.brave.com/eZ3MpHVzlFGWsxB-Nk_ooKr645AWLPABgtqiXlsLQkI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTEzLXpPb2F6Q0wu/anBn" width="200px" height="200px">
        <p>RedmiNote 11 Pro</p> 
        <p>$100</p> 
        <div> 
            <img src="https://imgs.search.brave.com/vpwsBGjrP_b_fV5IxkLfkiov0eDu19jSlg5M0hNQmug/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9mZG4u/eGlhb21pdWkubmV0/L3dwLWNvbnRlbnQv/dGhlbWVzL3hpYW9t/aXVpd3AvYXNzZXRz/L3Bob25lcy9kZXZp/Y2VwaG90b3MvcmVk/bWlfYTFfaWNlXzMu/cG5nP3N0cmlwPWFs/bCZsb3NzeT0xJnNz/bD0x" width="200px" height="200px"> 
            <p>RedmiA1</p> 
            <p>$90</p>
        </div>
    </body>

</html>